includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/cuyz/valinor/qa/PHPStan/valinor-phpstan-suppress-pure-errors.php
parameters:
    level: 8
    paths:
        - config
        - functions
        - src
        - test
    ignoreErrors:
        - identifier: missingType.iterableValue
