<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="./vendor/autoload.php"
    colors="true"
    cacheDirectory="build/.phpunit.cache"
    displayDetailsOnPhpunitNotices="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    displayDetailsOnTestsThatTriggerNotices="true"
>
    <testsuites>
        <testsuite name="Common">
            <directory>./test</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>./src</directory>
            <directory>./functions</directory>
        </include>
        <exclude>
            <file>./src/Entity/AbstractEntity.php</file>
            <file>./src/Cache/ShlinkPredisClient.php</file>
            <file>./src/Paginator/Util/PagerfantaUtilsTrait.php</file>
        </exclude>
    </source>
</phpunit>
