<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="./vendor/autoload.php"
    colors="true"
>
    <testsuites>
        <testsuite name="Common">
            <directory>./test</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <file>./src/Entity/AbstractEntity.php</file>
            <file>./src/Cache/ShlinkPredisClient.php</file>
        </exclude>
    </coverage>
</phpunit>
